@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    color: rgb(233, 245, 255);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: hsl(249, 23%, 6%);
}


h1 {
    padding: 3rem 0;
    font-family: 'Doto';
    font-size: 3rem;
    text-align: center;
}

#grid {
    width: 50vh;
    height: 50vh;
    border: 0.2rem rgb(90, 90, 90) solid;
    box-shadow: 0 0 2rem 0 rgba(255, 255, 255, 0.5); 
    background-color: hsl(240, 6%, 13%);
}

.row {
    display: flex;
}

.grid-block {
    background-color: white;
    flex-shrink: 0;
    border: 1px solid black;
}

.container {
    display: flex;
    justify-content: center;
    gap: 2%;
}

/* options */
h2 {
    font-family: 'Doto';
    font-size: 1.5rem;
    text-decoration: underline;
    text-decoration-thickness: 0.1rem;
}

.options > p {
    margin-top: 1rem;
    font-size: 1rem;
}

/* color slider */
.switch {
    position: relative;
    cursor: pointer;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    left: 0;
    right: 0;
    top: calc(50% - 2.5px);
    height: 5px;
    background-color: rgb(228, 228, 228);
    opacity: 0.7;
    border-radius: 30px;
    z-index: -1;
}

.switch:hover > .slider,
#grid-slider:hover {
    opacity: 1;
}

.slider-block {
    position: absolute;
    height: 26px;
    width: 26px;
    left: 2px;
    bottom: 4px;
    background-color: black;
    border: 1px whitesmoke solid;
    transition: .4s;
}

input:checked + .slider-block {
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
    animation: rainbow-bg 10s linear;
	animation-iteration-count: infinite;
}

/* Grid size slider */
#size {
    margin: 0;
    font-size: 0.8rem;
    opacity: 0.7;
}

#grid-slider {
    /* remove default css styling */
    appearance: none;
    -webkit-appearance: none;

    width: 60px;
    height: 5px;
    border-radius: 30px;
    background-color: rgb(228, 228, 228);
    opacity: 0.7;
    outline: none;
}

#grid-slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 20px; 
    height: 20px;
    background: #04AA6D;
    cursor: pointer; 
    border-radius: 50%;
}
  
#grid-slider::-moz-range-thumb {
    width: 20px; 
    height: 20px;
    background: #04AA6D;
    cursor: pointer; 
    border-radius: 50%;
}

#confirm-size {
    background: none;
    border: none;
    font-size: 1.2rem;
    margin-left: 0.5rem;
    color: #04AA6D;
    opacity: 0.7;
}

#confirm-size:hover,
#reset:hover {
    cursor: pointer;
    opacity: 1;
    text-shadow: 0 0 5px #04AA6D;
}

#reset {
    color: #04AA6D;
    opacity: 0.7;
}

#info {
    max-width: 70ch;
    margin: 1rem auto;
    opacity: 0.5;
    text-align: center;
}

#info-highlight {
    color: #04AA6D;
}

/* responsiveness */
@media only screen and (max-width: 550px) {
    #grid {
        max-width: 300px;
        max-height: 300px;
    }

    .container {
        flex-direction: column;
        align-items: center;
        gap: 2vh;
    }

    .options {
        width: 300px;
        display: flex;
        flex-flow: row wrap;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }

    .options h2 {
        flex-basis: 100%;
    }

    #info {
        max-width: 66ch;
        padding: 0 2rem;
    }

}

@media only screen and (min-width: 551px) and (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
        gap: 3vh;
    }

    .options {
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 3vw;
    }

    .options > p {
        margin: 0;
    }

    .options > h2 {
        flex-basis: 100%;
    }

    .grid-slider-container > p {
        text-align: center;
    }

    #info {
        max-width: 60ch;
    }
}



/* Animations */
/* Thanks to https://codepen.io/zak/pen/rWJzPy */
@keyframes rainbow-bg{
100%,0%{
    background-color: rgb(255,0,0);
}
8%{
    background-color: rgb(255,127,0);
}
16%{
    background-color: rgb(255,255,0);
}
25%{
    background-color: rgb(127,255,0);
}
33%{
    background-color: rgb(0,255,0);
}
41%{
    background-color: rgb(0,255,127);
}
50%{
    background-color: rgb(0,255,255);
}
58%{
    background-color: rgb(0,127,255);
}
66%{
    background-color: rgb(0,0,255);
}
75%{
    background-color: rgb(127,0,255);
}
83%{
    background-color: rgb(255,0,255);
}
91%{
    background-color: rgb(255,0,127);
}
}